.body{
    background-color: #f0f0f0;
text-align: center;
font-family: Arial;
}

.titulo{
    color: darkblue;
font-size: 40px;
}

.imagen{
    width: 250px;
margin: 10px;
border-radius: 15px;
box-shadow: 5px 5px 10px gray;
}

.texto{
    font-size: 20px;
color: green;
}

.link{
    color: red;
text-decoration: none;
font-size: 22px;
}

.link:hover{
    color: orange;
}